# Mac OS-X
.DS_Store

.vagrant/*
vagrantconf.yml

# file used by src/scripts/do-release.sh
.release-notes.tmp

# ignore Jeff Geerling roles downloaded from ansible-galaxy
src/roles/geerlingguy*

# ignore virtualenv
venv/*

# ignore vscode settings wherever they are
**/.vscode

# ignore Ansible collections (3rd party code)
collections
