<?php


$config =[

    // This is a authentication source which handles admin authentication.
    'admin' => [
        // The default is to use core:AdminPassword, but it can be replaced with
        // any authentication source.
		// core:AdminPassword means "use the password defined in the 'auth.adminpassword' option"
        'core:AdminPassword',
    ],


    // An authentication source which can authenticate against SAML 2.0 IdPs.
    'default-sp' => [
        'saml:SP',

        // The entity ID of this SP.
        // Can be NULL/unset, in which case an entity ID is generated based on the metadata URL.
        {% if saml_secret.sp_entity_id is defined %}
        'entityID' => '{{ saml_secret.sp_entity_id }}',
        {% elif saml_public.sp_entity_id is defined %}
        'entityID' => '{{ saml_public.sp_entity_id }}',
        {% else %}
        'entityID' => null,
        {% endif %}
		
		{% if saml_public.name_id_policy is defined %}
        'NameIDPolicy' => '{{ saml_public.name_id_policy }}',
		{% endif %}

        // The entity ID of the IdP this SP should contact.
        // Can be NULL/unset, in which case the user will be shown a list of available IdPs.
        {% if saml_secret.idp_entity_id is defined %}
        'idp' => '{{ saml_secret.idp_entity_id }}',
        {% elif saml_public.idp_entity_id is defined %}
        'idp' => '{{ saml_public.idp_entity_id }}',
        {% else %}
        // neither {{ saml_secret.idp_entity_id }} nor {{ saml_public.idp_entity_id }} is defined
        'idp' => null,
        {% endif %}


        // The URL to the discovery service.
        // Can be NULL/unset, in which case a builtin discovery service will be used.
        'discoURL' => null,
		// depending on your Identity provider
		// you may need a second level of encryption
		// see https://simplesamlphp.org/docs/stable/simplesamlphp-sp.html
		// path is relative to the 'cert' directory
		// /opt/simplesamlphp/cert/private.pem
		// 'privatekey' => 'private.pem', 
		// 'certificate' => 'public.crt',
    ],
];