<?php

/**
 * The configuration of SimpleSAMLphp
 */

$httpUtils = new \SimpleSAML\Utils\HTTP();

$config = [

    'baseurlpath' => 'https://{{ wiki_app_fqdn }}/simplesaml/',
    'application' => [],

    'cachedir' => '/var/cache/simplesamlphp',
    'tempdir'  => '/tmp/simplesamlphp',
    'certdir'  => 'cert/',

        'technicalcontact_name'  => '{{ saml_public.technicalcontact_name }}',
        'technicalcontact_email' => '{{ saml_public.technicalcontact_email }}',

    'timezone' => "{{ m_timezone | default('America/New_York') }}",

    'secretsalt'         => '{{ saml_secret.salt }}',
    'auth.adminpassword' => '{{ saml_secret.adminpassword }}',

    'admin.protectmetadata' => false,
    'admin.checkforupdates' => true,

    'trusted.url.domains' => [],
    'trusted.url.regex'   => false,

    'enable.http_post' => false,

    'assertion.allowed_clock_skew' => 180,

    'debug' => [
        'saml'       => false,
        'backtraces'  => true,
        'validatexml' => false,
    ],
    'showerrors'     => true,
    'errorreporting' => true,

    'logging.level'       => SimpleSAML\Logger::DEBUG,
    'logging.handler'     => 'syslog',
    'logging.facility'    => defined('LOG_LOCAL5') ? constant('LOG_LOCAL5') : LOG_USER,
    'logging.processname' => 'simplesamlphp',
    'logging.logfile'     => 'simplesamlphp.log',

    'statistics.out' => [],

    'proxy' => null,

    /**************************
     | DATABASE CONFIGURATION |
     **************************/

    'database.dsn'            => 'mysql:host=localhost;dbname=saml',
    'database.username'       => 'simplesamlphp',
    'database.password'       => 'secret',
    'database.options'        => [],
    'database.prefix'         => '',
    'database.driver_options' => [],
    'database.persistent'     => false,
    'database.secondaries'    => [],
    'enable.saml20-idp'       => true,
    'enable.adfs-idp'         => false,

    'module.enable' => [
        'exampleauth' => true,
        'core'        => true,
        'admin'       => true,
        'saml'        => true
    ],

    'session.duration' => {{ session_duration_hours }} * (60 * 60), // {{ session_duration_hours }} hours
    'session.datastore.timeout'     => (4 * 60 * 60), // 4 hours
    'session.state.timeout'         => (60 * 60), // 1 hour
    'session.cookie.name'           => 'SimpleSAMLSessionID',
    'session.cookie.lifetime'       => 0,
    'session.cookie.path'           => '/',
    'session.cookie.domain'         => '',
    'session.cookie.samesite'       => $httpUtils->canSetSameSiteNone() ? 'None' : null,
    'session.phpsession.cookiename' => 'SimpleSAML',
    'session.phpsession.savepath'   => null,
    'session.phpsession.httponly'   => true,
    'session.authtoken.cookiename'  => 'SimpleSAMLAuthToken',
    'session.rememberme.enable'     => false,
    'session.rememberme.checked'    => false,
    'session.rememberme.lifetime'   => (14 * 86400),

        'memcache_store.servers' => [
                [
                        {% for server in groups['memcached_servers'] -%}
                        {%- if server == inventory_hostname -%}
                        ['hostname' => '127.0.0.1'],
                        {%- else -%}
                        ['hostname' => '{{ server }}'],
                        {%- endif -%}
                        {%- endfor %}
                ],
    ],
    'memcache_store.prefix'  => '',
    'memcache_store.expires' => {{ memcache_session_store_hours }} * (60 * 60), // {{ memcache_session_store_hours }} hours

    'language.available' => [
        'en', 'no', 'nn', 'se', 'da', 'de', 'sv', 'fi', 'es', 'ca', 'fr', 'it', 'nl', 'lb',
        'cs', 'sk', 'sl', 'lt', 'hr', 'hu', 'pl', 'pt', 'pt-br', 'tr', 'ja', 'zh', 'zh-tw',
        'ru', 'et', 'he', 'id', 'sr', 'lv', 'ro', 'eu', 'el', 'af', 'zu', 'xh', 'st',
    ],
    'language.rtl'             => ['ar', 'dv', 'fa', 'ur', 'he'],
    'language.default'         => 'en',
    'language.parameter.name'  => 'language',
    'language.parameter.setcookie' => true,
    'language.cookie.name'     => 'language',
    'language.cookie.domain'   => '',
    'language.cookie.path'     => '/',
    'language.cookie.secure'   => true,
    'language.cookie.httponly' => false,
    'language.cookie.lifetime' => (60 * 60 * 24 * 900),
    'language.cookie.samesite' => $httpUtils->canSetSameSiteNone() ? 'None' : null,

    'theme.use' => 'default',

    'template.auto_reload' => false,

    'production' => true,

    'assets' => [
        'caching' => [
            'max_age' => 86400,
            'etag'    => false,
        ],
    ],

    'idpdisco.enableremember'      => true,
    'idpdisco.rememberchecked'     => true,
    'idpdisco.validate'            => true,
    'idpdisco.extDiscoveryStorage' => null,
    'idpdisco.layout'              => 'dropdown',

    'authproc.idp' => [
        30 => 'core:LanguageAdaptor',
        50 => 'core:AttributeLimit',
        99 => 'core:LanguageAdaptor',
    ],

    'authproc.sp' => [
        90 => 'core:LanguageAdaptor',
    ],

    'metadatadir'                   => 'metadata',
    'metadata.sources'              => [ [ 'type' => 'flatfile'], ],
    'metadata.sign.enable'          => false,
    'metadata.sign.privatekey'      => null,
    'metadata.sign.privatekey_pass' => null,
    'metadata.sign.certificate'     => null,
    'metadata.sign.algorithm'       => 'http://www.w3.org/2001/04/xmldsig-more#rsa-sha256',

    'store.type'           => 'memcache',
    'store.sql.dsn'        => 'sqlite:/path/to/sqlitedatabase.sq3',
    'store.sql.username'   => null,
    'store.sql.password'   => null,
    'store.sql.prefix'     => 'SimpleSAMLphp',
    'store.sql.options'    => [],
    'store.redis.host'     => 'localhost',
    'store.redis.port'     => 6379,
    'store.redis.username' => '',
    'store.redis.password' => '',
    'store.redis.tls'      => false,
    'store.redis.insecure' => false,
    'store.redis.ca_certificate' => null,
    'store.redis.certificate'    => null,
    'store.redis.privatekey'     => null,
    'store.redis.prefix'         => 'SimpleSAMLphp',
    'store.redis.mastergroup'    => 'mymaster',
    'store.redis.sentinels'      => [],

    'proxymode.passAuthnContextClassRef' => false,
];

