<?php

// SAML Authorization (What the user can DO)
// NOTE - this is only meaningful if the saml idp option being used
// REF: https://www.mediawiki.org/wiki/Meza/Setup_SAML_authentication
#$wgPluggableAuth_Config['Log in using SAML'] += [
#    'groupsyncs'  => [ [ 'type' => 'mapped',
#                         'map'   => [ 'sysop'           => [ 'memberOf' => 'xyz-admin' ],
#                                      'interface-admin' => [ 'memberOf' => 'xyz-admin' ],
#                                      'Contributor'     => [ 'memberOf' => 'xyz-admin' ],
#                                      'Viewer'          => [ 'memberOf' => 'xyz-admin' ],
#                                    ]
#                     ] ]
#];

