#!/bin/sh

echo "Starting rebuilding search indexes as $(whoami)"

if [ -z "$1" ]; then
	do_wikis="*/"
else
	do_wikis="$1"
fi

wiki_dir="/opt/htdocs/wikis"

cd "$wiki_dir"

#
# FOURTH wiki loop: run all jobs for all wikis
#
for d in $do_wikis; do

	if [ -z "$1" ]; then
		wiki_id=${d%/}
	else
		wiki_id="$d"
	fi

	if [ ! -d "$wiki_dir/$wiki_id" ]; then
		echo "\"$wiki_id\" not a valid wiki ID"
		continue
	fi

	echo
	echo "Running all jobs for ${wiki_id}"
	echo


	# Run all the jobs for this wiki
	maxjobs=1000
	while [ $(WIKI="$wiki_id" php /opt/htdocs/mediawiki/maintenance/showJobs.php) -gt 0 ]; do
		WIKI="$wiki_id" php /opt/htdocs/mediawiki/maintenance/runJobs.php --maxjobs="$maxjobs"
		echo
		echo "Up to 1000 jobs complete. Pausing for 5 seconds."
		echo
		sleep 5
	done;

done
