---
extends: default

rules:
  line-length:
    max: 140
    level: warning

  # make yamllint behave the same as ansible-lint (and prettier's yaml parser)
  # https://ansible.readthedocs.io/projects/lint/rules/yaml/
  comments:
    min-spaces-from-content: 1 # prettier compatibility
